.washer {
  height: 64px;
  width: 64px;
  
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.right {
  padding-right: 350px;
  display: inline-block;
}

.left {
  padding-left: 350px;
  display: inline-block;
}

.text {
  margin: 0;
  display: block;
}

.green {
  color:lightgreen;
}

.red {
  color:red;
}

.gray {
  color:rgb(69, 69, 69);
} 